@model Afriauscare.BusinessLayer.Gallery.GalleryModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateGallery</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    @Styles.Render("~/Content/bootstrap")
    <!-- Datepicker -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css' rel='stylesheet' type='text/css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js' type='text/javascript'></script>
</head>
<body>
    @Html.Partial("_MenuBarAdminPortal")

    <div class="container">
        @using (Html.BeginForm("CreateGallery", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="mx-auto col-12 col-md-10 col-lg-6">
                <h2>Create Gallery</h2>
                <br />
                @if (TempData["GalleryAlertMessage"] != null)
                {
                    <div id="CreateGalleryAlert" class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Success!</strong> @TempData["GalleryAlertMessage"]
                    </div>
                }

                <div class="row">
                    <div class="col">
                        @Html.LabelFor(model => model.GalleryTitle)
                        @Html.TextBoxFor(model => model.GalleryTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GalleryTitle, null, new { @class = "text text-danger" })
                    </div>
                    <div class="col">
                        @Html.LabelFor(model => model.GalleryDescription)
                        @Html.TextBoxFor(model => model.GalleryDescription, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GalleryDescription, null, new { @class = "text text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Event date:</label>
                        <input id="EventDate" type='text' class="form-control datepicker" data-provide="datepicker">
                    </div>
                </div>
                <br />
                <fieldset class="border p-1">
                    <legend class="w-auto">Select your files</legend>
                    @*<div class="mb-lg-3">
                        <input class="form-control" type="file" id="MultipleFileContent" multiple>
                    </div>*@

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.imageList, "", new { @type = "file", @multiple = "multiple" })
                            @Html.ValidationMessageFor(model => model.imageList, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    @Html.ValidationMessage("Error", null, new { @class = "text text-danger col-sm-10" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create Gallery</button>
                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("ViewGallery", "Gallery")'">Back</button>
                </div>
            </div>
        }
    </div>

    <!-- Script -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datepicker').datepicker({
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });
        });
    </script>
</body>
</html>
