@model IEnumerable<Afriauscare.BusinessLayer.Gallery.GalleryModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewGallery</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    @Html.Partial("_MenuBarAdminPortal")

    <div class="container">
        <br />
        <h2>Gallery Administration</h2>
        <br />
        @if (TempData["GalleryAlertMessage"] != null)
        {
            <div id="DeleteGalleryAlert" class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Success!</strong> @TempData["GalleryAlertMessage"]
            </div>
        }

        <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("CreateGallery", "Gallery")'">Create Gallery</button>
        <br />
        <br />
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.GalleryId)</td>
                        <td>@Html.DisplayFor(modelItem => item.GalleryTitle)</td>
                        <td>@Html.DisplayFor(modelItem => item.GalleryDescription)</td>
                        <td>
                            @Html.ActionLink("Edit", "ModifyGallery", new { GalleryId = item.GalleryId }, new { @class = "btn btn-info" })
                            @*<a href="#" id="btnShowDisableUserModal" class="btn btn-danger" onclick="Confirm(@item.GalleryId)">Disable</a>*@
                            <button class="btnDeleteGallery btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" id="GalleryIdHidden" />
    </div>

    <div class="modal fade" id="deleteGalleryModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the gallery named as?</p>
                    <strong><label id="lblGalleryName"></label></strong>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <a href="#" id="btnConfirmDeleteGallery" class="btn btn-info mr-2">Deactivate User</a>
                        <a href="#" id="btnCancelDeleteGalleryModal" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            $("#btnCancelDeleteGalleryModal").click(function () {
                window.location.href = "/Gallery/ViewGallery";
            })

            //Function which is called when confirming disable a user - Jquery function added to the modal button
            $("#btnConfirmDeleteGallery").click(function () {
                var _id = $("#GalleryIdHidden").val();

                $.ajax({
                    type: "POST",
                    url: "/Gallery/DeleteGalleryJson",
                    data: { GalleryId: _id },
                    success: function (result) {
                        if (result) {
                            $("#deleteGalleryModal").modal('hide');
                            $("#GalleryIdHidden").val(null);
                            window.location.href = "/Gallery/ViewGallery";
                        }
                        else {
                            alert("The operation did not complete");
                        }
                    }
                });
            })
        })

        $(".btnDeleteGallery").click(function () {
            debugger;
            var currentTds = $(this).closest("tr").find("td"); // find all td of selected row
            var galleryId = $(currentTds).eq(0).text();
            var galleryName = $(currentTds).eq(1).text(); // eq= cell , text = inner text
            $("#lblGalleryName").html(galleryName);
            $("#GalleryIdHidden").val(galleryId);
            $("#deleteGalleryModal").modal('show');
        });

        setTimeout(function () {

            // Closing the alert message once the user is created
            $('#DeleteGalleryAlert').alert('close');
        }, 5300);
    </script>
</body>
</html>
