@model Afriauscare.DataBaseLayer.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Disable User</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_MenuBarAdminPortal")
    <div class="container">
        @using (Html.BeginForm("DisableUser", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        <div class="mx-auto col-12 col-md-10 col-lg-6">
            <h2>Are you sure you want to disable the user displayed below?</h2>
            <br />

            @Html.HiddenFor(model => model.UserId)
            <div class="form-group">
                <h4>@(Model.Username + " " + Model.UserLastName)</h4> 
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "HomeAdminPortal")'">Disable User</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("ViewUser", "User")'">Back</button>
            </div>
        </div>
        }
            
</body>
</html>
