@model Afriauscare.DataBaseLayer.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Modify User</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_MenuBarAdminPortal")
    <div class="container">
        @using (Html.BeginForm("ModifyUser", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        <div class="mx-auto col-12 col-md-10 col-lg-6">
            <h2>Modify User</h2>
            <br />
            @Html.HiddenFor(model => model.UserId)
            <div class="form-group">
                @Html.LabelFor(model => model.Username, new { @class = "" })
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Username, null, new { @class = "text text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserLastName, new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.UserLastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserLastName, null, new { @class = "text text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserEmail, new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.UserEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserEmail, null, new { @class = "text text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserPassword, new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.UserPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserPassword, null, new { @class = "text text-danger" })
            </div>
            <div class="form-check">
                @Html.CheckBox(nameof(Model.UserActive),Model.UserActive ?? false, new { @class = "form-check-input" })
                @Html.LabelFor(model => model.UserActive, new { @class = "form-check-label" })
                @Html.ValidationMessageFor(model => model.UserActive, null, new { @class = "text text-danger" })
            </div>
            <div class="form-group">
                @Html.ValidationMessage("Error", null, new { @class = "text text-danger col-sm-10" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "HomeAdminPortal")'">Modify User</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("ViewUser", "User")'">Back</button>
            </div>
            <br />
            @*<div class="form-group">
                @Html.ValidationMessageFor(model => model.message, null, new { @class = "alert alert-success" })
            </div>*@
        </div>
        }
    </div>
</body>
</html>
