@model IEnumerable<Afriauscare.BusinessLayer.User.UserModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Users</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="~/Scripts/jquery-3.7.0.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</head>
<body>
    @Html.Partial("_MenuBarAdminPortal")
    <div class="container">
        <br />
        <h2>Users</h2>
        <br />
        @if (TempData["UserAlertMessage"] != null)
        {
            <div id="DisableUserAlert" class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Success!</strong> @TempData["UserAlertMessage"]
            </div>
        }

        <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("CreateUser", "User")'">Create User</button>
        <br />
        <br />
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Is Active</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="display:none">@Html.DisplayFor(modelItem => item.UserId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Username)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserLastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserEmail)</td>
                        <td>@Html.CheckBoxFor(modelItem => item.UserActive, new { @class = "form-check-input", @disabled = "disabled" })</td>
                        <td>
                            @Html.ActionLink("Edit", "ModifyUser", new { Id = item.UserId }, new { @class = "btn btn-info" })
                            <button class="btnDeleteUser btn btn-danger">Deactivate</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" id="UserIdHidden" />
    </div>

    <div class="modal fade" id="deleteUserModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Disable User Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to disable the user?</p>
                    <strong><label id="lblName"></label></strong>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <a href="#" id="btnConfirmDeleteUser" class="btn btn-info mr-2">Deactivate User</a>
                        <a href="#" id="btnCancelDeleteUserModal" class="btn btn-danger">Cancel</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            $("#btnCancelDeleteUserModal").click(function () {
                window.location.href = "/User/ViewUser";
            })

            //Function which is called when confirming disable a user - Jquery function added to the modal button
            $("#btnConfirmDeleteUser").click(function () {
                var _id = $("#UserIdHidden").val();

                $.ajax({
                    type: "POST",
                    url: "/User/DisableUserJson",
                    data: { UserId: _id },
                    success: function (result) {
                        if (result) {
                            $("#deleteUserModal").modal('hide');
                            $("#UserIdHidden").val(null);
                            window.location.href = "/User/ViewUser";
                        }
                        else {
                            alert("The operation did not complete");
                        }
                    }
                });
            })
        })

        $(".btnDeleteUser").click(function () {
            debugger;
            var currentTds = $(this).closest("tr").find("td"); // find all td of selected row
            var userId = $(currentTds).eq(0).text();
            var userName = $(currentTds).eq(1).text(); // eq= cell , text = inner text
            var userLastName = $(currentTds).eq(2).text();
            $("#lblName").html(userName + ' ' + userLastName);
            $("#UserIdHidden").val(userId);
            $("#deleteUserModal").modal('show');
        });

        setTimeout(function () {

            // Closing the alert message once the user is created
            $('#DisableUserAlert').alert('close');
        }, 5300);
    </script>
</body>
</html>
