<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark text-light bg-danger">
        <a>@Html.ActionLink("Afri-Aus Care", "Index", "Home", null, new { @class = "navbar-brand" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                        Programs&Services
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Events</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NDIS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a>@Html.ActionLink("Gallery", "Gallery2", "Home", null, new { @class = "nav-link" })</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Media Page</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownAboutUs" role="button" data-toggle="dropdown" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Board Members</a>
                        <a class="dropdown-item" href="#">Team</a>
                        <a class="dropdown-item" href="#">Key Partners</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Donate</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a>@Html.ActionLink("AdminPortal", "Login", "Session", null, new { @class = "nav-link" })</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer style="background-color:black">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <img src="~/Content/Images/logo25-new.png" />
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <ul class="list-unstyled">
                        <li><a href="#" class="">Regulations</a></li>
                        <li><a href="#" class="">Terms and Conditions</a></li>
                        <li><a href="#" class="">Privacy and Policy</a></li>
                        <li><a href="#" class="">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <h4 class="footer-heading">Stay In Touch</h4>
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <p>Contact Us</p>
                    <p>0433 526 553</p>
                    <p>info@afri-auscare.org</p>
                    <p>562-564 SPRINGVALE ROAD SPRINGVALE SOUTH 3172</p>
                </div>
            </div>
            <div class="row">
                <img src="~/Content/Images/ack.png" />
                <p>AFRI AUS CARE ACKNOWLEDGE THE TRADITIONAL OWNERS OF THE LAND</p>
            </div>
            <br />
            <p class="font-weight-bold">&copy; @DateTime.Now.Year - Developed by VIT MITS Students</p>
        </div>
    </footer>
</body>
</html>
